<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= htmlWebpackPlugin.options.title %></title>

        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
        <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
        <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">

        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#F90002">
        <meta name="google" value="notranslate">

        <meta http-equiv="cleartype" content="on">
        <meta name="msapplication-TileImage" content="<%= require('./sources/assets/icon.png') %>">
        <meta name="msapplication-TileColor" content="#F90002">

        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>WebFont.load({google:{families:['Montserrat:400,600,700,900:latin-ext']}})</script>
    </head>

    <body>
    </body>

</html>
